# MANIFEST.in
# This tells distutils what files to distribute.

include calc.ico
include calculator.png
include embed-icon.sh
include LICENSE.txt
include MANIFEST.in
include pywin32-219-cp27-none-win_amd64.whl
include README.rst
include seguid.spec
include setup.py
include seguid_calculator.desktop

recursive-include tests *
recursive-include docs *
recursive-include scripts *
global-exclude *.pyc
global-exclude *~

include versioneer.py
include seguid_calculator/_version.py
