# MANIFEST.in
# This tells distutils what files to distribute.

include calc.ico
include calculator.png
include embed-icon.sh
include LICENSE.txt
include MANIFEST.in
include README.md
include seguid.spec
include setup.py

recursive-include tests *
recursive-include docs *
recursive-include scripts *
global-exclude *.pyc
global-exclude *~

include versioneer.py
include seguid_calculator/_version.py
include seguid_calculator.desktop
