[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=calculator.png
Exec=seguid_calculator                                                                            
Name=seguid_calculator
Comment=seguid calculator
Name=SEGUID calculator
Comment=SEGUID calculator
Categories=Science;
