[Desktop Entry]
Type=Application
Terminal=false
Icon=/usr/share/seguid_calculator/calculator.png
Exec=seguid_calculator                                                                            
Name=seguid_calculator
Comment=calculates (c)seguid checksum for biological sequences
Name=SEGUID calculator
Comment=SEGUID calculator
Categories=Science;
