Source: seguid-calculator
Maintainer: Björn Johansson <bjorn_johansson@bio.uminho.pt>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.1
Homepage: https://github.com/BjornFJohansson/seguid_calculator#seguid_calculator

Package: python3-seguid-calculator
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Calculates SEGUID, cSEGUID & lSEGUID checksums for biologica
 # seguid_calculator
 .
 ![seguid_calculator_small.png](seguid_calculator_small.png "seguid_calculator")
 .
 Seguid_calculator is a small GUI for calculating the SEGUID, lSEGUID and cSEGUID checksums for a
 biological sequence (DNA, RNA or protein).
 .
 ## Installation
 .
 Executables are available from here: [releases](https://github.com/BjornFJohansson/seguid_calculator/releases):
 .
 * Windows 64 bit
 * Mac OSX app
 * Linux DEB and RPM packages are planned (see end of this page)
 .
 These packages are build automatically, see the end of this page  for details.
 .
 ## Source installation
 .
 setuptools (pip) or conda packages can be installed like this:

